@charset "utf-8";
.my-class {
    color: black; 
	border: 5px ;
	background-position: center;
	align-content: center;
	background-image: url("../images/2.jpg");
    padding: 1em;
    text-align: center;
	margin: 70px;
	font-family: 'Montserrat', sans-serif;;
	font-size: 60px;
	
}
body { 
align-content: center;
text-align: center;
border: 1px #ce1a35; 
color: gold; 
padding: 50;
margin: 40px;
background-color: #ce1a35; 
font-family: 'Montserrat', sans-serif;
font-size: 25px;
font-style: italic
}